@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;400;600&family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


html, body {
    margin: 0.5cm 0cm 0cm 0cm;
}


*{
    text-decoration: none;
    box-sizing: border-box;
}


.underline:hover {
    text-decoration: underline;
}


.lineheight{
    line-height: 0cm;
}


.center {
    text-align: center;
}


.padding{
    padding: 0px 7px 5px 7px;
}

.learn{
    font-size: 20px;
    padding: 0px 5px;
    color: rgba(35, 129, 218, 1);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 600;
}


.learnmore{
    position: absolute;
    top: 60%;
    left: 47%;
}
.learnmore2{
    position: absolute;
    top: 50%;
    left: 50%;
}



.blackbackground{
    background-color: rgba(49, 49, 50, 1);
}
.whitebackground {
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
}
.offwhitebackground {
    background-color: rgba(245, 245, 247, 1);
}


.logo{
    height: 0.5cm;
    width: 0.5cm;
    max-width: fit-content;
    max-height: fit-content;
}


.navbar{
    background: none;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.2cm;
    width: 100%;
    position: fixed;
    top: 0;
}
.navbar img{
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(214, 214, 214, 1);
    max-width: fit-content;
    max-height: fit-content;
}
.navbar p{
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(214, 214, 214, 1);
    padding: 0px 15px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 200;
    font-size: 13px;
}
.navbar a{
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(214, 214, 214, 1);
    padding: 0px 15px;
    text-decoration: none;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 200;
    font-size: 13px;
}


.uni{
    display: flex;
    height: 2cm;
    justify-content: center;
    align-items: center;
}
.uni img{
    max-width: fit-content;
    max-height: 2.2cm;
}
.uni p {
    text-decoration: none;
    color: rgba(35, 129, 218, 1);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 500;
    font-size: 15px;
}


.banner{
    background: none;
    background-color: black;
    height: 18cm;
    width: 100%;
}
.banner img{
    display: flex;
    margin: auto;
}


h1{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    line-height: 0;

}
h2{
    text-align: center;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 400;
    font-size: 30px;
}


.imgiphone{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 55%;
    height: 55%;
}


.imgse{
    display: flex;
    justify-content: center;
    margin: auto;
}


.p2{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 30px;
    line-height: 0.1cm;
}


.row {
    display: flex;
}
.row img{
    width: 50%;
}


.p3{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: rgba(100, 100, 100, 0.7);
    background: none;
    background-color: white;
    width: 50%;
    text-align: left;
    margin: auto;
    font-size: 12px;
    font-weight: 200;
}


.footer{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer a{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0px 5px;
    font-size: 15px;
    text-decoration: none;
}
.footer p{
    font-size: 10px;
    text-decoration: none;
}


